# Introduction

Pandas - Data cleaning and make sense of secondary data

**Business Perspective**
Absenteeism - The absence from work during normal working hours, resulting in temporary incapacity to execute a regular working activity.

We want to help business figure out how to preserve high productivity rates and the reason for excessive employee absence.

Task at hand is to make sure that the raw data set has been turned into meaningful quantitative information.

Aim is to free our raw dataset from: Mistakes, Missing values, incomprehensible organization for the next phases: data preprocessing, manipulation, visualization, and analysis.

## The Dataset

The dataset "Absenteeism-data.csv" is based on an already existing study about the prediction of absenteeism at work. 
Our data tells us how far they live from workplace, how many children and pets they have, education level and so on.

In [3]:
import pandas as pd

In [4]:
raw_csv_data = pd.read_csv('absenteeism_data.csv')
df = raw_csv_data.copy()

# display(df)
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

Non missing values.

Predict absenteeism from work: "Time in hours". ID -> each person. This is our dependent variable. All other variable are independent variable.

**Few Ideas:**
- Check date range.
- Why is reason for absence numbers and what is the meaning?
- Rename columns for clarity.
- Age range.

## Modify Column Names for Clarity

We'll use `snake_case` for column names and apply some modifications to improve clarity.

In [11]:
df.columns

Index(['ID', 'Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average', 'Body Mass Index',
       'Education', 'Children', 'Pets', 'Absenteeism Time in Hours'],
      dtype='object')

In [12]:
column_names_updated = []
for col in df.columns:
    new_col = col.replace(' ', '_').lower()
    column_names_updated.append(new_col)

In [13]:
df.columns = column_names_updated
df.columns

Index(['id', 'reason_for_absence', 'date', 'transportation_expense',
       'distance_to_work', 'age', 'daily_work_load_average', 'body_mass_index',
       'education', 'children', 'pets', 'absenteeism_time_in_hours'],
      dtype='object')

In [14]:
# Create a dict for column name substitution
updated_column_names = {'date': 'date_of_absence',
                        'transportation_expense': 'transportaion_expense_dollars',
                        'distance_to_work': 'distance_to_work_miles',
                        'absenteeism_time_in_hours': 'absenteeism_time_hours'
                       }

# Rename the columns using dictionary
df.rename(columns = updated_column_names, inplace = True)
df.columns

Index(['id', 'reason_for_absence', 'date_of_absence',
       'transportaion_expense_dollars', 'distance_to_work_miles', 'age',
       'daily_work_load_average', 'body_mass_index', 'education', 'children',
       'pets', 'absenteeism_time_hours'],
      dtype='object')

## Drop the ID column:
- Individual idenfication of each employee. Indicates precisely who has been away druing working hours.
- It is just a label data (nominal) to distinguish the individuals from one another and doesn't carry any numeric information. Therefore, it is not useful in the analysis to help explain the absenteeism time.
- We will drop the column.

In [16]:
df.drop(['id'], axis = 1, inplace = True)
df

,reason_for_absence,date_of_absence,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

## Interpreting Reason for Absence

In [18]:
print(df['reason_for_absence'].min(), '-', df['reason_for_absence'].max())

0 - 28

In [19]:
len(df['reason_for_absence'].unique())

28

In [20]:

df['reason_for_absence'].value_counts().sort_index()

reason_for_absence
0      38
1      16
2       1
3       1
4       2
5       3
6       6
7      13
8       5
9       4
10     22
11     24
12      8
13     52
14     18
15      2
16      3
17      1
18     21
19     36
21      6
22     32
23    147
24      3
25     29
26     31
27     66
28    110
Name: count, dtype: int64

There are 28 different reason for absence present in the dataset, ranging between 0 to 28. Since there are only 28 unique values instead of 29, the number 20 seems to be missing.

The values here represent the categories of absence reason. Some numbers seem to have commonality and can be classified into different groups. To make it more intuitive, we can group them based on their classification for enhanced readability and shrink the volumne of information stored.

After separating the column into 4 groups we can create dummy variables i.e. use binary variable that equals 1 for presence of certain categorical effect and 0 if it is absent.

In [22]:
reason_columns = pd.get_dummies(df['reason_for_absence'], dtype = int)
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [23]:
reason_columns['number_of_reasons'] = reason_columns.sum(axis = 1)
reason_columns

,0,1,2,3,4,5,6,7,8,9,...,19,21,22,23,24,25,26,27,28,number_of_reasons
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
696,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
697,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [24]:
(reason_columns['number_of_reasons'] == 1).sum()

700

All entries is associated with a single reason only.

In [26]:
reason_columns = reason_columns.drop(['number_of_reasons'], axis = 1)

In [27]:
reason_columns = pd.get_dummies(df['reason_for_absence'], drop_first = True, dtype = int)
reason_columns

,1,2,3,4,5,6,7,8,9,10,...,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
696,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
698,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
699,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Group the Reasons for Absence
Reduce the number of reasons based on common groupings. Looking at the description, they can be grouped into 4 different classes: 

**GROUP 1:** Associated with certain diseases. Reasons 1-14.

**GROUP 2:** Pregnancy related. Reason 15-17.

**GROUP 3:** Injuries and critical symptoms. Reason 18-21.

**GROUP 4:** "Light" reasons such as dental consultation, physiotherapy, and lab work. Reason 22-28.

In [29]:
reason_columns.columns.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 21, 22, 23, 24, 25, 26, 27, 28], dtype=int64)

In [30]:
# Create dataframe for each group
reason_group_1 = reason_columns.loc[:, 1:14].max(axis = 1)
reason_group_2 = reason_columns.loc[:, 15:17].max(axis = 1)
reason_group_3 = reason_columns.loc[:, 18:21].max(axis = 1)
reason_group_4 = reason_columns.loc[:, 22:28].max(axis = 1)

pd.DataFrame([reason_group_1, reason_group_2, reason_group_3, reason_group_4]).T

     0  1  2  3
0    0  0  0  1
1    0  0  0  0
2    0  0  0  1
3    1  0  0  0
4    0  0  0  1
..  .. .. .. ..
695  1  0  0  0
696  1  0  0  0
697  1  0  0  0
698  0  0  0  1
699  0  0  0  1

[700 rows x 4 columns]

Since each row only has one reason, we can group together each category (0 - if none and 1 - if reason in the group).

### Concatenate the Reason Groups to Dataset

In [33]:
# Add the columns for each reason groups to the dataset
for i in range(1, 5):
    group = 'reason_group_' + str(i)
    df[group] = eval(group)
df

,reason_for_absence,date_of_absence,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours,reason_group_1,reason_group_2,reason_group_3,reason_group_4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [34]:
# Drop the reason_for_absence column
df.drop(['reason_for_absence'], axis = 1, inplace = True)
df

,date_of_absence,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours,reason_group_1,reason_group_2,reason_group_3,reason_group_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

To avoid multicolinearity, we drop the reason for absence column

## Create Checkpoint

We'll store the current output.

In [37]:
df_checkpoint = df.copy()
df_checkpoint

,date_of_absence,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours,reason_group_1,reason_group_2,reason_group_3,reason_group_4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

## Date Column

Format: day/month/year

### Extract month and day from the date of absence field

In [40]:
type(df['date_of_absence'][0])

str

In [41]:
'''
df = df_checkpoint
date_split = df['date_of_absence'].str.split('/')
df['day'] = date_split.str[0]
df['month']  = date_split.str[1]
df['year']  = date_split.str[2]
'''

"\ndf = df_checkpoint\ndate_split = df['date_of_absence'].str.split('/')\ndf['day'] = date_split.str[0]\ndf['month']  = date_split.str[1]\ndf['year']  = date_split.str[2]\n"

In [42]:
df['date_of_absence']

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
          ...
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: date_of_absence, Length: 700, dtype: object

We'll convert the data type to datetime for more meaningful analysis.

In [44]:
df['date_of_absence'] = pd.to_datetime(df['date_of_absence'], format = '%d/%m/%Y')

In [45]:
df['date_of_absence']

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
         ...
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: date_of_absence, Length: 700, dtype: datetime64[ns]

### Extract month and day of the week

In [47]:
df['day_of_week'] = df['date_of_absence'].dt.weekday
df['month'] = df['date_of_absence'].dt.month
df

,date_of_absence,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours,reason_group_1,reason_group_2,reason_group_3,reason_group_4,day_of_week,month
0,2015-07-07,289,36,33,239.554,30,1,2,1,4,0,0,0,1,1,7
1,2015-07-14,118,13,50,239.554,31,1,1,0,0,0,0,0,0,1,7
2,2015-07-15,179,51,38,239.554,31,1,0,0,2,0,0,0,1,2,7
3,2015-07-16,279,5,39,239.554,24,1,2,0,4,1,0,0,0,3,7
4,2015-07-23,289,36,33,239.554,30,1,2,1,2,0,0,0,1,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,2018-05-23,179,22,40,237.656,22,2,2,0,8,1,0,0,0,2,5
696,2018-05-23,225,26,28,237.656,24,1,1,2,3,1,0,0,0,2,5
697,2018-05-24,330,16,28,237.656,25,2,0,0,8,1,0,0,0,3,5
698,2018-05-24,235,16,32,237.656,25,3,0,0,2,0,0,0,1,3,5
699,2018-05-31,291,31,40,237.656,25,1,1,1,2,0,0,0,1,3,5

Can drop this column.

In [49]:
df.drop(['date_of_absence'], axis = 1, inplace = True)
df

,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours,reason_group_1,reason_group_2,reason_group_3,reason_group_4,day_of_week,month
0,289,36,33,239.554,30,1,2,1,4,0,0,0,1,1,7
1,118,13,50,239.554,31,1,1,0,0,0,0,0,0,1,7
2,179,51,38,239.554,31,1,0,0,2,0,0,0,1,2,7
3,279,5,39,239.554,24,1,2,0,4,1,0,0,0,3,7
4,289,36,33,239.554,30,1,2,1,2,0,0,0,1,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,179,22,40,237.656,22,2,2,0,8,1,0,0,0,2,5
696,225,26,28,237.656,24,1,1,2,3,1,0,0,0,2,5
697,330,16,28,237.656,25,2,0,0,8,1,0,0,0,3,5
698,235,16,32,237.656,25,3,0,0,2,0,0,0,1,3,5
699,291,31,40,237.656,25,1,1,1,2,0,0,0,1,3,5

## Convert Education Column to Represent Binary Values

Categorical data, the numbers don't have a meaning.

In [52]:
df['education'].value_counts()

education
1    583
3     73
2     40
4      4
Name: count, dtype: int64

1 - High School

2 - Graduate

3 - Postgraduate

4 - A Master or a Doctor

Majority have only HS degree and the rest have a higher degree. Makes sense to combine the rest into a single category.

In [55]:
df['education'] = df['education'].map(lambda x: 0 if x == 1 else 1)
df['education'].value_counts()

education
0    583
1    117
Name: count, dtype: int64

## Reorder Columns 
Reorder in a Meaningful Way

In [57]:
df.columns.values

array(['transportaion_expense_dollars', 'distance_to_work_miles', 'age',
       'daily_work_load_average', 'body_mass_index', 'education',
       'children', 'pets', 'absenteeism_time_hours', 'reason_group_1',
       'reason_group_2', 'reason_group_3', 'reason_group_4',
       'day_of_week', 'month'], dtype=object)

In [58]:

columns_reordered = ['reason_group_1', 'reason_group_2',
                     'reason_group_3', 'reason_group_4', 'day_of_week', 'month', 'transportaion_expense_dollars',
                     'distance_to_work_miles', 'age', 'daily_work_load_average',
                     'body_mass_index', 'education', 'children', 'pets',
                     'absenteeism_time_hours']

df = df[columns_reordered]

In [59]:
# Overview of the Final Cleaned Dataset
df.head()

,reason_group_1,reason_group_2,reason_group_3,reason_group_4,day_of_week,month,transportaion_expense_dollars,distance_to_work_miles,age,daily_work_load_average,body_mass_index,education,children,pets,absenteeism_time_hours
0,0,0,0,1,1,7,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,1,7,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,2,7,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,3,7,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,3,7,289,36,33,239.554,30,0,2,1,2

Other ideas: look for outliers and data quality.

Note: Work_load is the avg amount of time spent working per day in minutes.

### Final Checkpoint

In [63]:
df_cleaned = df.copy()

# Export clean dataset
df_cleaned.to_csv('absenteeism_preprocessed.csv')